body {
	padding-top: 60px;
}

.viewer-url {
	display: none;
}

.download, .conf-form{
	margin-top: 10px;
}

.button-form {
	margin: 0px;
	display: inline;
}

.footer {
	margin-top: 10px;
}

.active-alert {
	height: 34px;
	padding: 6px;
	text-align: center;
}

.archive-btn {
	width: 90px;
}