{{with .Data}}
<table class="table">
	<thead>
		<tr>
			<th>
				Meno
			</th>
			<th>
				Pridaná
			</th>
			<th>
				Stiahnuté
			</th>
			<th>
				Vymazať
			</th>
			<th>
				Aktivovať
			</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}
		<tr {{if .P.Active }}class="info"{{end}}>
			<td>
				<a href="/admin/presentation
				/{{.P.Key}}">{{.P.Name}}</a>
			</td>
			<td>
				{{.P.Created.Format "15:04, 2.1.2006"}}
			</td>
			<td>
				{{.C}}x
			</td>
			<td>
				{{if .P.Active}}
				--
				{{else}}
				<form method="POST" action="/admin/presentation/delete" class="button-form">
					<input type="hidden" name="id" value="{{.P.Key}}">
					<button type="submit" class="btn btn-danger btn-small">Vymazať</button>
				</form>
				{{end}}
			</td>
			<td>
				{{if .P.Active}}
				--
				{{else}}
				<form method="POST" action="/admin/presentation/activate" class="button-form">
					<input type="hidden" name="id" value="{{.P.Key}}">
					<button type="submit" class="btn btn-success btn-small">Aktivovať</button>
				</form>
				{{end}}
			</td>
		</tr>
		{{else}}
		<div class="alert alert-info">
			Zatiaľ ste nepridali žiadne prezentácie
		</div>
		{{end}}
	</tbody>
</table>
{{end}}

<ul class="pager">
  <li class="previous">
    {{if equal .Page 1}}
	{{else}}
		<a href="/admin/presentation/archive/{{subtract .Page  1}}">
			Novšie vysielania
		</a>
	{{end}}
  </li>

  <li>
  	<p class="text-center">Strana {{.Page}}</p>
  </li>

  <li class="next">
	{{if equal .Page .MaxPages}}
	 {{else}}
	 	<a href="/admin/presentation/archive/{{add .Page  1}}">
				Staršie vysielania
		</a>
	{{end}}
  </li>
</ul>