{{$tz := .Tz}}
{{with .Data}}
<table class="table">
	<thead>
		<tr>
			<th>
				Meno
			</th>
			<th>
				Pridaná
			</th>
			<th>
				Stiahnuté
			</th>
			<th>
				Vymazať
			</th>
			<th>
				Aktivovať
			</th>
		</tr>
	</thead>
	<tbody>
		{{range .}}
		<tr {{if .P.Active }}class="active"{{end}}>
			<td>
				<a href="/admin/presentation/{{.P.Key}}">
					{{.P.Name}}
				</a>
			</td>
			<td>
				{{(.P.Created.In $tz).Format "15:04, 2.1.2006"}}
			</td>
			<td>
				{{.C}}x
			</td>
			{{if .P.Active}}
				<td colspan="2">
					<form method="POST" action="/admin/presentation/deactivate" class="button-form">
						<input type="hidden" name="id" value="{{.P.Key}}">
						<button type="submit" class="btn btn-primary btn-block">
							Deaktivovať
						</button>
					</form>
				</td>
			{{else}}
				<td width="69px">
					<form method="POST" action="/admin/presentation/delete" class="button-form">
						<input type="hidden" name="id" value="{{.P.Key}}">
						<button type="submit" class="btn btn-danger btn-sm">
							Vymazať
						</button>
					</form>
				</td>
				<td width="69px">
					<form method="POST" action="/admin/presentation/activate" class="button-form">
						<input type="hidden" name="id" value="{{.P.Key}}">
						<button type="submit" class="btn btn-success btn-sm">
							Aktivovať
						</button>
					</form>
				</td>
			{{end}}
		</tr>
		{{else}}
		<div class="alert alert-info">
			Zatiaľ ste nepridali žiadne prezentácie
		</div>
		{{end}}
	</tbody>
</table>
{{end}}

<ul class="pager">
  <li class="previous">
    {{if equal .Page 1}}
	{{else}}
		<a href="/admin/presentation/archive/{{subtract .Page  1}}">
			<span class="glyphicon glyphicon-arrow-left"></span> Novšie vysielania
		</a>
	{{end}}
  </li>

  <li class="next">
	{{if equal .Page .MaxPages}}
	{{else}}
	 	<a href="/admin/presentation/archive/{{add .Page  1}}">
			Staršie vysielania <span class="glyphicon glyphicon-arrow-right"></span>
		</a>
	{{end}}
  </li>
</ul>