{{template "configMenu.html"}}
<form method="POST" action="/admin/config">
	Štandardné zapnutie: <input type="text" name="standardOn" class="timeField" value="{{.Conf.StandardOn.Format "15:04"}}"><br>
	Štandardné vypnutie: <input type="text" name="standardOff" class="timeField" value="{{.Conf.StandardOff.Format "15:04"}}"><br>
	Interval updatu: <input type="text" name="updateInterval" value="{{.Conf.UpdateInterval}}"><br>
	Časové nastavenie:<br>
	<input type="radio" name="overrideState" value="0" {{if equal .Conf.OverrideState 0}} checked{{end}}> Používať časové nastavenia<br>
	<input type="radio" name="overrideState" value="-1" {{if equal .Conf.OverrideState -1}} checked{{end}}> Vysielanie vypnuté<br>
	<input type="radio" name="overrideState" value="1" {{if equal .Conf.OverrideState 1}} checked{{end}}> Vysielanie zapnuté<br>
	<input type="submit">
</form>

<h2>Informácie klientov</h2>
{{/*I know this is copy-pasted from presentation.html, but go's templates are shit*/}}
{{$zt := .ZeroTime}}
<table border="1">
	<tr>
		<th>
			Klient
		</th>
		<th>
			Informácia o aktualizácií
		</th>
		<th>
			Začiatok sťahovania
		</th>
		<th>
			Koniec sťahovania
		</th>
	</tr>
	{{range $k, $v  := .Q}}
	{{if $k}}
		<tr>
			<td>
				{{$k}}
			</td>
			{{range $v}}
				<td>
					{{if .Equal $zt}}
						Ešte nevykonané
					{{else}}
						{{.Format "15:04:05, 2.1.2006"}}
					{{end}}
				</td>
			{{end}}
		</tr>
	{{end}}
	{{end}}
</table>