{{template "configMenu.html" 1}}
<form method="POST" action="/admin/config">
	<label>Štandardné zapnutie</label>
	<input type="text" name="standardOn" class="timeField" value="{{(.Conf.StandardOn.In .Tz).Format "15:04"}}"><br>
	<label>Štandardné vypnutie</label> 
	<input type="text" name="standardOff" class="timeField" value="{{(.Conf.StandardOff.In .Tz).Format "15:04"}}"><br>
	<label>Interval updatu</label>
	<input type="text" name="updateInterval" value="{{.Conf.UpdateInterval}}"><br>
	
	<label class="radio">
		<input type="radio" name="overrideState" value="0" {{if equal .Conf.OverrideState 0}} checked{{end}}> 
		Používať štandardné nastavenia
	</label>
	<label class="radio">
		<input type="radio" name="overrideState" value="-1" {{if equal .Conf.OverrideState -1}} checked{{end}}> 
		Vysielanie vždy vypnuté
	</label>
	<label class="radio">
		<input type="radio" name="overrideState" value="1" {{if equal .Conf.OverrideState 1}} checked{{end}}> 
		Vysielanie vždy zapnuté
	</label>
	<label class="checkbox">
		<input type="checkbox" name="weekends" value="true" {{if .Conf.Weekends}} checked {{end}}> 
		Cez víkendy používať štandarné nastavenie
	</label>
	<input type="submit">
</form>

<h2>Informácie klientov</h2>
{{/*I know this is copy-pasted from presentation.html, but go's templates are shit*/}}
{{$zt := .ZeroTime}}
{{$eq := equal (len .A) 0}}
{{$tz := .Tz}}
{{if not $eq}}
	<table class="table">
		<thead>
			<tr>
				<th>
					Klient
				</th>
				<th>
					Informácia o aktualizácií
				</th>
				<th>
					Začiatok sťahovania
				</th>
				<th>
					Koniec sťahovania
				</th>
			</tr>
		</thead>
		<tbody>
			{{range $k, $v  := .A}}
				{{if $k}}
					<tr>
						<td>
							{{$k}}
						</td>
						{{range $v}}
							<td>
								{{if .Equal $zt}}
									Ešte nevykonané
								{{else}}
									{{(.In $tz).Format "15:04:05, 2.1.2006"}}
								{{end}}
							</td>
						{{end}}
					</tr>
				{{end}}
			{{end}}
		</tbody>
	</table>
{{else}}
	<div class="alert alert-info">
		Klienti o tejto konfigurácií ešte nevedia. To sa však čoskoro zmení...
	</div>
{{end}}