{{$domain := .Domain}}
{{range .Data}}
{{if .P.Name}}
	<div class="presentation">
		<h2>
			{{.P.Name}}
		</h2>
		{{if .P.Active}}
			<span class="label label-success">Vo vysielaní</span>
		{{end}}
		<p>
			{{.D}}
		</p>
		<div class="preview">
			<img width="500px" height="300px" src="/static/images/TOGY-nahlad.png" class="preview-placeholder">
			<div class="viewer-url">
				http://docs.google.com/viewer?url={{$domain}}/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}&embedded=true
			</div>
		</div>
		<p class="download">
			<a href="/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}" class="btn btn-default">Stiahnuť</a>
		</p>
		<small>
			Pridané {{.P.Created.Format "2.1.2006"}}
		</small>
	</div>
{{end}}
{{end}}

<ul class="pager">
  <li class="previous">
    {{if equal .Page 1}}
	{{else}}
		<a href="/presentation?p={{subtract .Page  1}}">
			<span class="glyphicon glyphicon-arrow-left"></span> Novšie vysielania
		</a>
	{{end}}
  </li>

  <li class="next">
	{{if equal .Page .MaxPages}}
	{{else}}
	 	<a href="/presentation?p={{add .Page  1}}">
			Staršie vysielania <span class="glyphicon glyphicon-arrow-right"></span>
		</a>
	{{end}}
  </li>
</ul>