<script type="text/javascript">
	presentationKey = {{.P.Key}}
</script>
<div id="title-container">
	<h1 id="title">{{.P.Name}}</h1>
</div>
<dl class="dl-horizontal">
	<dt>
		<b>Typ súboru</b>
	</dt>
	<dd>
		{{.P.FileType}}
	</dd>

	<dt>
		<b>Dátum pridania</b>
	</dt>
	<dd>
		{{.P.Created}}
	</dd>

	<dt>
		<b>Stiahnutá za</b>
	</dt>
	<dd>
		{{.Avg}} sekúnd
	</dd>
</dl>

<h2>Popis</h2>
<div id="description-container">
	<blockquote id="description">
		<div>
			{{if .Desc}}
				{{.Desc}}
			{{else}}
				Pre toto vysielanie nie je zadaný žiadny popis
			{{end}}
		</div>
	</blockquote>
</div>
<div class="row">
	<div id="buttons" class="span6">
		<h2>Akcie</h2>
		{{if .P.Active}}
		<div class="alert alert-info">
			Táto prezentácia je práve aktívna
		</div>
		{{else}}
			<form method="POST" action="/admin/presentation/activate" class="button-form">
				<input type="hidden" name="id" value="{{.P.Key}}">
				<button type="submit" class="btn btn-success">Aktivovať</button>
			</form>
		
			<form method="POST" action="/admin/presentation/delete" class="button-form">
				<input type="hidden" name="id" value="{{.P.Key}}">
				<button type="submit" class="btn btn-danger">Vymazať</button>
			</form>
		{{end}}
		<div class="input-append">
			<input class="span2 uneditable-input" value="http://{{.Domain}}/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}" type="text">
			<a href="http://{{.Domain}}/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}" class="btn">Stiahnuť</a>
		</div>
	</div>

	<div id="acts" class="span6">
		<h2>
			Naplánované aktivácie
		</h2>
		<table class="table">
			<thead>
				<tr>
					<th>
						Dátum a čas
					</th>
					<th>
						Vymazať
					</th>
				</tr>
			</thead>
			<tbody>
				{{$p := .P}}
				{{range .Activations}}
					<tr>
						<td>
							{{.Time.Format "2.1.2006 15:04:05"}}
						</td>
						<td>
							<form method="POST" action="/api/activation/{{.Key}}/delete" class="button-form">
								<input type="hidden" name="redirect" value="/admin/presentation/{{$p.Key}}">
								<button type="submit" class="btn btn-danger btn-small">Vymazať</button>
							</form>
						</td>
					</tr>
				{{end}}
			</tbody>
		</table>
		<div id="schedule-activation-container">
			<form id="schedule-activation">
				<fieldset>
					<legend>Naplánovať aktiváciu</legend>
					<div class="input-append">
						<input class="span2" type="text" name="datetime">
						<button type="submit" class="btn btn-primary">Naplánovať</button>
					</div>
				<fieldset>
			</form>
		</div>
	</div>
</div>

<p class="help-block">Názov a popis prezentácie môžete editovať po dvojitom kliknutí na ne.</p>

{{$zt := .ZeroTime}}

<h2>Informácie klientov</h2>
{{$len := len .A}}
{{if equal $len 0}}
	<div class="alert alert-info">
		Klienti o tejto prezentácií ešte nevedia. To sa však čoskoro zmení...
	</div>
{{else}}
	<table class="table">
		<thead>
			<tr>
				<th>
					Klient
				</th>
				<th>
					Informácia o aktualizácií
				</th>
				<th>
					Začiatok sťahovania
				</th>
				<th>
					Koniec sťahovania
				</th>
			</tr>
		</thead>
		<tbody>
			{{range $k, $v  := .A}}
				{{if $k}}
					<tr>
						<td>
							{{$k}}
						</td>
						{{range $v}}
							<td>
								{{if .Equal $zt}}
									Ešte nevykonané
								{{else}}
									{{.Format "15:04:05, 2.1.2006"}}
								{{end}}
							</td>
						{{end}}
					</tr>
				{{end}}
			{{end}}
		</tbody>
	</table>
{{end}}

<script type="text/template" id="title-show-template">
	<h1 id="title"> <%= title %> </h1>
</script>

<script type="text/template" id="title-edit-template">
	<div class="input-append">
		<form>
			<input type="text" value="<%=title%>" class="title span3" id="title-field">
			<button type="submit" class="btn btn-primary">Uložiť</button>
		</form>
	</div>
</script>

<script type="text/template" id="description-show-template">
<div id="description">
<%= text %>
</div>
</script>

<script type="text/template" id="description-edit-template">
<form>
<textarea id="description-field">
<%=markdown %>
</textarea><br>
<div class="help-block">Markdown je povolený</div>
<button type="submit" class="btn btn-primary">Uložiť</button>
</form>
</script>

<script type="text/template" id="loading-template">
<img src="/static/images/spinner.gif" alt="loading" width="30" height="30">
</script>
