<!-- I had to indent this one by hand, since Sublime can't
	indent Go templates -->
{{$tz := .Tz}}
<script type="text/javascript">
	presentationKey = {{.P.Key}}
</script>

<div id="title-container">
	<h1 id="title">
		{{.P.Name}}
	</h1>
</div>
<div class="actions">
	<div class="input-group col-md-3">
		<input class="form-control uneditable-input" 
		value="http://{{.Domain}}/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}" 
		type="text">
		<a href="http://{{.Domain}}/api/presentation/{{.P.Key}}/download/vysielanie.{{.P.FileType}}"
		class="btn input-group-addon">
		<span class="glyphicon glyphicon-download-alt"></span></a>
	</div>

	{{if .P.Active}}
		<form method="POST" action="/admin/presentation/deactivate" class="button-form">
			<input type="hidden" name="id" value="{{.P.Key}}">
			<button type="submit" class="btn btn-warning">Deaktivovať</button>
		</form>
	{{else}}
		<form method="POST" action="/admin/presentation/activate" class="button-form">
			<input type="hidden" name="id" value="{{.P.Key}}">
			<button type="submit" class="btn btn-success">Aktivovať</button>
		</form>
	{{end}}

	<form method="POST" action="/admin/presentation/delete" class="button-form">
		<input type="hidden" name="id" value="{{.P.Key}}">
		<button type="submit" class="btn btn-danger">Vymazať</button>
	</form>
</div>

<h2>
	Popis
</h2>
<div id="description-container">
	<div id="description">
		<div>
			{{if .Desc}}
				{{.Desc}}
			{{else}}
				Pre toto vysielanie nie je zadaný žiadny popis
			{{end}}
		</div>
	</div>
</div>

<p class="help-block">
	Názov a popis prezentácie môžete editovať po dvojitom kliknutí na ne.
</p>

<div class="row">
	<div id="buttons" class="col-md-6">
		<h2>
			Podrobnosti
		</h2>
		<table class="table">
			<tr>
				<td>
					<b>Typ súboru</b>
				</td>
			</tr>
			<tr>
				<td>
					{{.P.FileType}}
				</td>
			</tr>

			<tr>
				<td>
					<b>Dátum a čas pridania</b>
				</td>
			</tr>
			<tr>
				<td>
					{{(.P.Created.In .Tz).Format "15:04:05, 2.1.2006"}}
				</td>
			</tr>
		</table>
	
	</div>

	<div id="acts" class="col-md-6">
		<h2>
			Naplánované aktivácie
		</h2>
		{{if .Activations}}
			<table class="table">
				<thead>
					<tr>
						<th>
							Dátum a čas
						</th>
						<th>
							Činnosť
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
					{{$p := .P}}
					{{range .Activations}}
						<tr>
							<td>
								{{(.Time.In $tz).Format "2.1.2006 15:04:05"}}
							</td>
							<td>
								{{if .Op}}
									Aktivovať
								{{else}}
									Deaktivovať
								{{end}}
							</td>
							<td>
								<form method="POST" action="/api/activation/{{.Key}}/delete" class="button-form">
									<input type="hidden" name="redirect" value="/admin/presentation/{{$p.Key}}">
									<button type="submit" class="btn btn-danger btn-small">
										Vymazať
									</button>
								</form>
							</td>
						</tr>
					{{end}}
				{{else}}
					<div class="alert alert-info">
						Táto prezentácia nemá naplánované aktivácie
					</div>
				{{end}}
			</tbody>
		</table>
	<div id="schedule-activation-container">
		<form id="schedule-form">
			<fieldset>
				<legend>Plánovanie</legend>
				<div class="input-group">
					<input required class="form-control col-md-2" type="text" name="datetime">
					<span class="input-group-btn">
						<button id="schedule-activation" type="button" class="btn btn-primary">Aktivovať</button>
						<button id="schedule-deactivation" type="button" class="btn btn-warning">Deaktivovať</button>
					</span>
				</div>
			<fieldset>
		</form>
	</div>
</div>
</div>

<div id="clientinfo">
	{{$zt := .ZeroTime}}

	<h2>
		Informácie klientov
	</h2>

	{{if equal (len .A) 0}}
		<div class="alert alert-info">
			Klienti o tejto prezentácií ešte nevedia. To sa však čoskoro zmení...
		</div>
	{{else}}
		<table class="table">
			<thead>
				<tr>
					<th>
						Klient
					</th>
					<th>
						Aktivoval
					</th>
					<th>
						Deaktivoval
					</th>
				</tr>
			</thead>
			<tbody>
				{{range $k, $v  := .A}}
					{{if $k}}
						<tr>
							<td>
								{{$k}}
							</td>
							{{range $v}}
								<td>
									{{if .Equal $zt}}
										Ešte nevykonané
									{{else}}
										{{(.In $tz).Format "15:04:05, 2.1.2006"}}
									{{end}}
								</td>
							{{end}}
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
	{{end}}
</div>

<script type="text/template" id="title-show-template">
	<h1 id="title">
		<%= title %>
	</h1>
</script>

<script type="text/template" id="title-edit-template">
	<div class="input-append">
		<form>
			<input class="form-control" type="text" value="<%=title%>" class="title span3" id="title-field">
			<button type="submit" class="btn btn-primary">Uložiť</button>
		</form>
	</div>
</script>

<script type="text/template" id="description-show-template">
	<div id="description">
		<%= text %>
	</div>
</script>

<script type="text/template" id="description-edit-template">
	<form>
		<textarea class="form-control" id="description-field">
<%=markdown %>
		</textarea><br>
		<div class="help-block">Markdown je povolený</div>
		<button type="submit" class="btn btn-primary">Uložiť</button>
	</form>
</script>

<script type="text/template" id="loading-template">
	<img src="/static/images/spinner.gif" alt="loading" width="30" height="30">
</script>
