{{template "configMenu.html" 2}}
{{if equal (len .Tcs) 0}}
<div class="alert alert-info">
	Zatiaľ nie sú pridané žiadne časové výnimky
</div>
{{else}}
<table class="table">
	<thead>
		<tr>
			<th>
				Dátum
			</th>
			<th>
				Čas zapnutia
			</th>
			<th>
				Čas vypnutia
			</th>
			<th>
				Vymazať
			</th>
		</tr>
	</thead>
	<tbody>
		{{$tz := .Tz}}
		{{range .Tcs}}
		<tr>
			<td>
				<a href="/admin/config/timeOverride/edit/{{.Key}}">{{.Date.Format "2006-1-2"}}</a>
			</td>
			<td>
				{{(.On.In $tz).Format "15:04"}}
			</td>
			<td>
				{{(.Off.In $tz).Format "15:04"}}
			</td>
			<td>
			<form method="POST" action="/admin/config/timeOverride/delete" class="button-form">
				<input type="hidden" name="key" value="{{.Key}}">
				<button type="submit" class="btn btn-danger">Vymazať</button>
			</form>
		</td>
	</tr>
	{{end}}
</tbody>
</table>
{{end}}

<a href="/admin/config/timeOverride/edit" class="btn">
	Pridať novú
</a>