<div class="row">
	<div class="col-md-6">
		<form role="form" action="{{.UploadURL}}" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<legend>Nahrať novú prezentáciu</legend>
				<div class="alert alert-warning">
					<strong>Pozor!</strong>
					Ospravedlňujem sa, ale tento formulár nepodporuje diakritiku. Ak ju chcete použiť,
					môžete ju pridať na stránke pre úpravu jednotlivej prezentácie.
				</div>
				<label for="name">Názov prezentácie</label>
				<input id="name" class="title form-control" type="text" name="name" required><br>
				<label for="presentation-description">Popis</label>
				<textarea id="presentation-description" class="form-control" name="description"></textarea><br>
				<span class="help-block">
					Ak chcete, aby bol popis prezentácie pekný a prehľadný, používajte <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>
				</span>
				<label for="file">Súbor</label>
				<input id="file" class="form-control" type="file" name="file" required>
				<label class="checkbox">
					<input type="checkbox" name="activate" checked> Aktivovať
				</label>
				<button type="submit" class="form-control btn btn-primary">Nahrať</button>
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<legend>Naplánovaný program</legend>
		{{if equal (len .Ans) 0}}
			<div class="alert alert-info">
				<p>
					<strong>Zatiaľ nie je naplánovaný žiaden program.</strong>
				</p>
				<p>
					Program môžete naplánovať na stránkach jednotlivých
					prezentácií.
				</p>
			</div>
			{{else}}
			<table class="table">
				<thead>
					<tr>
						<th>
							Dátum a čas
						</th>
						<th>
							Názov prezentácie
						</th>
						<th>
							Činnosť
						</th>
					</tr>
				</thead>
				<tbody>
					{{range .Ans}}
						<tr>
							<td>
								{{.A.Time.Format "2.1.2006 15:04:05"}}
							</td>
							<td>
								<a href="/admin/presentation/{{.P.Key.Encode}}">{{.P.Name}}</a>
							</td>
							<td>
								{{if .A.Op}}
									Aktivovať
								{{else}}
									Deaktivovať
								{{end}}
							</td>
						</tr>
					{{end}}
				</tbody>
			</table>
		{{end}}
	</div>

</div>